:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: var(--16px);
  line-height: var(--24px);
  font-weight: 400;
  --8px: 0.5rem;
  --10px: 0.625rem;
  --16px: 1rem;
  --24px: 1.5rem;
  --32px: 2rem;
  --100px: 6.25rem;
  --120px: 7.5rem;
  --200px: 12.5rem;
  --240px: 15rem;
  --320px: 20rem;
  --400px: 25rem;
  --480px: 30rem;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.orionHeader {
  display: flex;
  flex-direction: column;
  background-color: #333;
}

h1 {
  text-align: center;
}

.orion.version {
  color: #7B7B7D;
  text-align: center;
  align-items: center;
  font-weight: 100;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.lastVersion {
  margin: 0;
  margin-left: 1vh;
  font-size: 0.8rem;
  color: #119965;
}

input,
button {
  border-radius: var(--8px);
  border: 1px solid transparent;
  padding: var(--10px) var(--16px);
  font-size: var(--16px);
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

#greet-input {
  margin-right: var(--8px);
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}

.container_settings {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) auto;
  grid-gap: var(--10px);
  font-family: Arial, sans-serif;
  padding: var(--10px);
  box-shadow: 0rem 0rem var(--10px) rgba(0, 0, 0, 0.1);
}

.settings-content {
  display: flex;
  justify-content: space-between;
}

.settings-sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
  //width: 200px;
  color: white;
  padding: var(--24px);
  background-color: #2C2B2E;
  min-width: var(--120px);
  max-width: var(--200px);
}

.settings-sidebar ul {
  list-style-type: none;
  padding: var(--8px) 0rem 0rem var(--8px);
  margin-top: 0rem;
}

.settings-sidebar li {
  margin-bottom: var(--10px);
  cursor: pointer;
}

.settings-sidebar li:hover {
  -webkit-filter: brightness(1.15);
  filter: brightness(1.15)
}

.settings-sidebar h3 {
  border: 0rem;
  padding: 0rem;
  margin: 0rem;
  border-bottom: 1px solid #333;
}

.container_integrations {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: var(--10px);
  padding: var(--20px);
  background-color: #2C2B2E;
  margin-left: var(--10px);
  border-radius: var(--10px);
  box-shadow: 0rem 0rem var(--10px) rgba(0, 0, 0, 0.1);
}

.integrations_header {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  padding: var(--10px) var(--8px);
  border: var(--8px);
}

.integrations_header span {
  padding: 0rem var(--8px);
  border-bottom: 2px solid #333;
}

.integration-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--10px);
  border-bottom: 1px solid #333;
  background-color: #2C2B2E;
  max-height: 10vh;

}

.integration-item.Props {
  align-items: center;
  align-content: center;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  border: 0rem;
}

.integration-item.Logo {
  height: var(--32vh);
  will-change: filter;
  transition: 0.75s;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  padding: 0rem var(--8px);
  border: 0rem;
}

.integration-item.Name {
  color: white;
  padding-left: 0rem var(--8px) 0rem var(--10px);
  border: 0rem;
}

.integration-item.Ver {
  text-align: right;
  padding: 0rem var(--8px) 0rem var(--8px);
  border: 0rem;
}

.integration-item button {
  background-color: #a27fcf;
  color: white;
  border: var(--8px);
  padding: var(--8px) var(--10px);
  cursor: pointer;
  border-radius: var(--8px);
  margin-left: var(--8px);
}

.integration-item button:hover {
  -webkit-filter: brightness(1.15);
  filter: brightness(1.15)
}

.integration-item button:active {
  -webkit-filter: brightness(0.85);
  filter: brightness(0.85)
}